name: Release

on:
  push:
    tags: [ "v*" ]

jobs:
  release:
    permissions:
      contents: write
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            c_compiler: gcc
            vcpkg_triplet: x64-mingw-dynamic
          - os: ubuntu-latest
            c_compiler: cc
            vcpkg_triplet: x64-linux

    steps:
      - uses: actions/checkout@v4

      - uses: lukka/get-cmake@latest

      - name: Setup MSYS2 (Windows, MinGW)
        if: matrix.os == 'windows-latest'
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          path-type: inherit
          update: true
          install: >-
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-ninja

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          vcpkgJsonGlob: '**/vcpkg.json'
        env:
          VCPKG_DEFAULT_TRIPLET: ${{ matrix.vcpkg_triplet }}
          VCPKG_TARGET_TRIPLET: ${{ matrix.vcpkg_triplet }}
          VCPKG_HOST_TRIPLET: ${{ matrix.vcpkg_triplet }}

      - name: Build and Install (Windows)
        if: matrix.os == 'windows-latest'
        shell: msys2 {0}
        env:
          CMAKE_GENERATOR: Ninja
        run: |
          cmake -B build \
            -DCMAKE_C_COMPILER=${{ matrix.c_compiler }} \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_TOOLCHAIN_FILE="$VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake" \
            -DVCPKG_TARGET_TRIPLET=${{ matrix.vcpkg_triplet }} \
            -DVCPKG_HOST_TRIPLET=${{ matrix.vcpkg_triplet }} \
            -S .
          cmake --build build --config Release
          cmake --install build --prefix artifacts --config Release

      - name: Build and Install (Linux)
        if: matrix.os == 'ubuntu-latest'
        shell: bash
        run: |
          cmake -B build \
            -DCMAKE_C_COMPILER=${{ matrix.c_compiler }} \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_TOOLCHAIN_FILE="$VCPKG_ROOT/scripts/buildsystems/vcpkg.cmake" \
            -DVCPKG_TARGET_TRIPLET=${{ matrix.vcpkg_triplet }} \
            -DVCPKG_HOST_TRIPLET=${{ matrix.vcpkg_triplet }} \
            -S .
          cmake --build build --config Release
          cmake --install build --prefix artifacts --config Release

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: artifacts/**/*
          generate_release_notes: true
